* {
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size:100%;
}


*, *:before, *:after {
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: auto;
    background: #f6f0df;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

}

header {
    font-size: 25px;
    background-color: #46c0a6;
}

nav button {
    background-color: #46c0a6;
    color: #ffffff;
    border: 3px #eef3ea solid;
    font-family: 'Silkscreen', sans-serif;
}

nav button:hover {
    background-color: #ffe26a;
    color: #16123f;
}



section img {
    width: 40%;
    height: auto;
}

section {

    font-size: 20px;
}

#game_section {
    background-color: #b0d387;
    border: 5px #eef3ea solid;
    border-radius: 10px;
}

#store_section {
    background-color: #b0d387;
    border: 5px #eef3ea solid;
    border-radius: 10px;
}

#gallery_section {
    background-color: #b0d387;
    border: 5px #eef3ea solid;
    border-radius: 10px;
}

dialog {

}



#login_dialog {
    top: 200px;
    left: 200px;
    border: solid 1px black;
    padding: 20px;
}

#game_dialog {
    top: 20px;
    left: 200px;
    width: 1024px;
    height: 768px;
}

#game_dialog#game_preview {
    width: 1024px;
    height: 768px;
}


input,  button {
    border: solid 1px black;
    padding: 5px;
    margin: 3px 3px 0 3px;
}

input#username,
input#password,
input#login {
    display: block;
}

button.selected {
    border-bottom: solid 1px #EFEFEF;
}

.channel {
    background-color: #EFEFEF;
    padding: 10px;

}

#game_report {
    position: absolute;
    background-color: #EFEFEF;
    left: 400px;
    top: 400px;
    border: solid 1px black;
    padding: 5px;

}
