* {
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size:100%;
}


*, *:before, *:after {
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: auto;
    background-color: #f6f0df;
    background-image: url("airport.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #072c44;
    font-size: 16px;

}

header {
    font-size: 35px;
    background-color: #46c0a6;
}

nav button {
    background-color: #46c0a6;
    color: #ffffff;
    border: 3px #eef3ea solid;
    font-family: 'Silkscreen', sans-serif;
}

nav button:hover {
    background-color: #ffe26a;
    color: #16123f;
}

section dialog {
    width: 60%;
    height: 400px;
    top: 100px;
    left: 200px;
}

section img {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}


#game_section {
    background: linear-gradient(to bottom, #c0f1a0, #e5f3ed);
    border: 5px #eef3ea solid;
    border-radius: 10px;
    color: #024770;
    font-family: 'VT323', monospace;
    font-size: 30px;
    padding: 12px;
}

#store_section {
    background: linear-gradient(to bottom, #c0f1a0, #e5f3ed);
    border: 5px #eef3ea solid;
    border-radius: 10px;
    color: #024770;
    font-family: 'VT323', monospace;
    font-size: 30px;
    padding: 12px;
}

.plane {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
}

#user_info {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #d9a600;
}

#gallery_section {
    background: linear-gradient(to bottom, #c0f1a0, #e5f3ed);
    border: 5px #eef3ea solid;
    border-radius: 10px;
    color: #024770;
    font-family: 'VT323', monospace;
    font-size: 30px;
    padding: 12px;
}



#ranking_section {
    background: linear-gradient(to bottom, #c0f1a0, #e5f3ed);
    border: 5px #eef3ea solid;
    border-radius: 10px;
    color: #024770;
    font-family: 'VT323', monospace;
    font-size: 30px;
    padding: 12px;
}

#login_dialog {
    top: 200px;
    left: 200px;
    border: solid 5px #ffe26a;
    border-radius: 10px;
    padding: 20px;
    font-family: 'VT323', monospace;
    font-size: 30px;
    background-color: #c0f1a0;

}

#login_dialog input {
    font-family: 'VT323', monospace;
    font-size: 30px;
}

#login_dialog button {
    background-color: #46c0a6;
    color: #ffffff;
    border: 3px #eef3ea solid;
    font-family: 'Silkscreen', sans-serif;
    justify-content: center;
}

#login_dialog button:hover {
    background-color: #ffe26a;
    color: #16123f;
}

div button {
    background-color: #46c0a6;
    font-family: 'Silkscreen', sans-serif;
    font-size: 25px;
    color: #ffffff;
    border: 3px #eef3ea solid;
}

div button:hover {
    background-color: #ffe26a;
    color: #16123f;
}

#game_dialog {
    top: 20px;
    left: 200px;
    width: 1024px;
    height: 768px;
}

#game_dialog#game_preview {
    width: 1024px;
    height: 768px;
}


input,  button {
    border: solid 1px black;
    padding: 5px;
    margin: 3px 3px 0 3px;
}

input#username,
input#password,
input#login {
    display: block;
}

button.selected {
    border-bottom: solid 1px #EFEFEF;
}

.channel {
    background-color: #EFEFEF;
    padding: 10px;

}

#game_report {
    position: absolute;
    background-color: #EFEFEF;
    left: 400px;
    top: 400px;
    border: solid 1px black;
    padding: 5px;

}
