* {
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size:100%;
}

@keyframes neon {
    0% {
        color: white;
        text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff;
    }
    50% {
        color: white;
        text-shadow: 0 0 20px #41ff53, 0 0 30px #0ff, 0 0 40px #41ff53;
    }
    100% {
        color: white;
        text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #b700ff;
    }
}

h1 {
    font-family: 'Silkscreen', sans-serif;
    font-size: 60px;
    text-align: center;
    color: white;
    background-color: #46c0a6;
    padding: 10px;
    animation: neon 1.5s infinite;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: auto;
    background-color: #f6f0df;
    background-image: url("/static/imgs/airport.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #072c44;
    font-size: 16px;

}

header {
    font-size: 35px;
    background-color: #46c0a6;

}

nav {
text-align: center;
}

nav button {
    background-color: #46c0a6;
    color: #ffffff;
    border: 3px #eef3ea solid;
    font-family: 'Silkscreen', sans-serif;
    margin-right: 20px;

}

nav button:hover {
    background-color: #ffe26a;
    color: #16123f;
}

section dialog {
    width: 800px;
    height: 600px;
    border: solid #46c0a6 10px;
    border-radius: 10px;
    background-color: rgba(255, 247, 239, 0.8);
}

section img {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

#plane_img {
    width: 80px;
    height: 80px;
}

#game_section {
    background: linear-gradient(to bottom, #c0f1a0, #e5f3ed);
    border: 5px #eef3ea solid;
    color: #024770;
    font-family: 'VT323', monospace;
    font-size: 30px;
    padding: 12px;
}

#store_section {
    background: linear-gradient(to bottom, #c0f1a0, #e5f3ed);
    border: 5px #eef3ea solid;
    color: #024770;
    font-family: 'VT323', monospace;
    font-size: 30px;
    padding: 12px;
}

#store_section dialog {
    margin:auto;
}

div.planes {
    display: block;
    min-height: 100%;
    display: table;
    content: "";
    clear: both
}

div.plane {
    margin-top: 40px;
    float: left;
    width: 510px;
    height: 120px;
    padding: 5px;
}

div.plane:hover {
    background: #46c0a6;
}

div.plane div {
    float: left;
    height: 100%;
    margin-right: 50px;
}

div.plane div img {
    width: 100px;
    height: 100px;
}

div.plane div img:hover {
    border: solid 4px rgba(255, 255, 255, 0.0);
}

#user_info {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #d9a600;
}

#gallery_section {
    background: linear-gradient(to bottom, #c0f1a0, #e5f3ed);
    border: 5px #eef3ea solid;
    color: #024770;
    font-family: 'VT323', monospace;
    font-size: 30px;
    padding: 12px;
}

#gallery_section dialog {
    margin:auto;
}



#ranking_section {
    background: linear-gradient(to bottom, #c0f1a0, #e5f3ed);
    border: 5px #eef3ea solid;
    color: #024770;
    font-family: 'VT323', monospace;
    font-size: 30px;
    padding: 12px;
}

#login_dialog {
    margin:auto;
    border: solid 5px #f8f3ea;
    border-radius: 10px;
    padding: 50px;
    font-family: 'VT323', monospace;
    font-size: 30px;
    background-color: rgba(221, 245, 160, 0.8);
}

#login_dialog input {
    font-family: 'VT323', monospace;
    font-size: 30px;
    width: 298px;
}

#login_dialog button {
    background-color: #46c0a6;
    color: #ffffff;
    border: 3px #eef3ea solid;
    font-family: 'Silkscreen', sans-serif;
    justify-content: center;
}

#login_dialog button:hover {
    background-color: #ffe26a;
    color: #16123f;
}

div button {
    background-color: #46c0a6;
    font-family: 'Silkscreen', sans-serif;
    font-size: 25px;
    color: #ffffff;
    border: 3px #eef3ea solid;
}

div button:hover {
    background-color: #ffe26a;
    color: #16123f;
}

#game_dialog {
    top: 20px;
    left: 200px;
    width: 1024px;
    height: 768px;
}

#game_dialog#game_preview {
    width: 1024px;
    height: 768px;
}

#game_dialog span {
    color: #46c0a6;
    background: #efefef;
    padding: 5px;
}


input,  button {
    border: solid 1px black;
    padding: 5px;
    margin: 3px 3px 0 3px;
}

input#username,
input#password,
input#login {
    display: block;
}

button.selected {
    background-color: #ffe26a;
    color: #16123f;
}

.channel {
    background-color: #EFEFEF;
    padding: 10px;

}

#game_report {
    position: absolute;
    background-color: #ffe26a;
    left: 200px;
    top: 200px;
    border: solid 3px #d5790c;
    border-radius: 10px;
    padding: 50px;

}

button {
    cursor: pointer;
}

.div_table {
    display: table;
    width: 100%;

}

.div_table .heading {
    display: table-header-group;
    background-color: #46c0a6;
    color: #ffffff;
}

.div_table .row {
    display: table-row;
    border: solid 1px white;
}


.div_table .cell {
    padding: 5px;
    display: table-cell;
    border: solid 1px white;
}

.div_table .highlight {
    background-color: #ffe26a;
    color: #16123f;
}
