<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',
        filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='jss/base.js') }}" defer></script>
        <script src="{{ url_for('static', filename='jss/menu.js') }}?a=2" defer></script>
       <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Silkscreen&family=Space+Grotesk&family=VT323&display=swap" rel="stylesheet">
    </head>

    <body>
    <header>
        <nav></nav>
    </header>
    <section></section>
    <footer></footer>

    </body>

</html>

